$red: #FA808B;
$blue: #011E62;
$yellow: #FCB502;
$beige: #D6CF8D;
$orange: #FA5C39;
$green: #25A5AD;
$green-transparent: rgba(37, 165, 173, 0.8);
$gray: #4D4D4D;
$light-gray: #B6B6B6;
$light-gray2: #EFEDED;
$clear : #F9F9F9;


