<div class="footer">
  <div class="footer-copyright">
    © the spot 2020 - Tous droits réservés
  </div>
  <div class="footer-links">
    CGU |
    Politique de confidentialité |
    Cookies |
    Équipe
    <a href="#"><i class="fab fa-instagram ml-2"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
