.banner {
  text-align: center;
  color: white;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: top;
  justify-content: center;
}

#banner-login {
  height: 100vh;
}

.cancel {
  margin-left: 5px;
}

.btn-orange {
  background-color: $orange;
  color: white;
}
