.carousel-inner {
  display: flex;
  align-items: center;
  height: 500px;
  a {
    position: absolute;
    bottom: 20px;
    right: 30px;
    font-size: 60px;
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0,0.6);
  }
}

.carousel-item {
  img {
    object-fit: cover;
  }
}

.carousel-upload {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  input[type=file]::-webkit-file-upload-button {
    color: $gray;
    border: none;
    padding: 8px 20px;
    border-radius: 4px;
    background: white;
  }
  input[type='file'] {
    color: transparent
  }
}

#carousel-inner-no-photo {
  align-items: center;
  background: url("degrade.png");
}
