.ap-name {
  color: $gray;
}

.new-place-form {
  input[type=file]::-webkit-file-upload-button {
    box-shadow: 0 0 6px rgba(255,255,255, 0.7);
  }
  input[type='file'] {
    color: transparent;
  }
}
