
.public-card-owner {
  width: 300px;
}

.card-owner-header {
background: white;
border: none;
display: flex;
justify-content: center;
margin: auto;
margin-top: 20px;
  .avatar {
    width: 100px;
    height: 100px;
  }
}

.card-owner-body {
  border: none;
  i {
    color: $orange;
    margin-right: 5px;
  }
  p {
    margin-bottom: 0;
    font-size: 12px;
    text-align: center;
  }
  .bookings-and-average-rating {
    display: flex;
    justify-content: center;
    .card-owner-important-info {
      margin: 0 10px;
    }
  }
  .member-since-info {
    text-align: center;
    margin-top: 1.5em;
    color: $orange;
    h6 {
      font-weight: bold;
      font-size: 16px;
    }
  }
  h4 {
    font-size: 24px;
    font-weight: bolder;
  }
  h6 {
    margin-bottom: 2px;
  }
}

.card-owner-footer {
  background: white;
  border: none;
  .simple_form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  // .radio_buttons {
  //   width: 230px;
  // }
  // .form-check-label {
  //   font-size: 12px;
  //   font-weight: bold;
  // }
  // .form-check {
  //   margin-left: 4px;
  //   display: inline;
  // }
  .col-form-label {
    display: none;
  }
  .btn {
    margin-top: 0;
  }
}

.public-owner-welcome-message {
  h5 {
    font-size: 16px;
    font-style: italic;
  }
  i {
    color: $green;
  }
}

.public-owner-listing {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bolder;
  color: $green;
  margin-bottom: 10px;
}


.my-reviews-owner-cards {
  flex-grow: 1;
  grid-gap: 12px;
  .my-dashboard-card {
    height: auto;
    margin-bottom: 0.7em;
  }
  .card-text {
    font-size: 16px;
    margin-bottom: 0;
  }
  i {
    color: $green;
  }
}

@media (min-width: 100px) and (max-width: 920px) {
  .my-reviews-owner-cards {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 920px) {
  .my-reviews-owner-cards {
    grid-template-columns: 1fr 1fr;
  }
}





