.places-card {
  width: 280px;
  height :280px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.places-card:hover {
  color: #294ea5;
}

.places-card .img-places-card {
  background-size: cover;
  height: 200px;
}

.places-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
}

.places-card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.places-card .places-card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
