.show-card {
  margin: 1em;
  border: none;
  padding: 1em;
  border-radius: 6px;
  a {
    i {
      color: $green;
      margin-left: 8px;
    }
    #white-pencil {
      color: white;
      font-size: 20px;
    }
  }
}

.place-details-card {
  background: $green;
  margin-left: 0;
  h3 {
    color: white;
  }
}

.place-share-card {
  margin-left: 0;
  i {
    font-size: 1.8em;
    margin-right: 0.2em
  }
}

.place-user-card {
  margin-left: 0;
  display: flex;
  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.place-user-information {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.details {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  i {
    font-size: 20px;
  }
}

.show-card-title {
  font-weight: bolder;
}

.place-booking-card {
  background: $orange;
  margin-left: 0;
  h3 {
    color: white;
    margin-bottom: 0.8em;
  }
  .btn {
    font-weight: bolder;
    color: $orange;
  }
}

.date-inputs {
  margin: 3px;
}

.btn-green {
  background-color: $green;
  color: white;
}
